<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computerstarter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="ComputerStarter"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputerStarter">
        <activity
            android:name=".Education_Tabbed"
            android:exported="false"
            android:label="@string/title_activity_education_tabbed"
            android:theme="@style/Theme.ComputerStarter.NoActionBar" />
        <activity
            android:name=".EducationActivities"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Results_Activity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SocialMediaActivity"/>
    </application>

</manifest>