<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computerstarter">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="ComputerStarter"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputerStarter">
        <activity
            android:name=".Education.PC_Part_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity
            android:name=".Education.Education_Tabbed"
            android:exported="false"
            android:label="@string/title_activity_education_tabbed" />
        <activity
            android:name=".Others.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Quiz.Results_Activity" />
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Others.AccountActivity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".app.MainActivity" />
        <activity android:name=".Others.AboutActivity" />
        <activity android:name=".Others.HelpActivity" />
        <activity android:name=".SocialMedia.SocialMediaActivity" />
        <activity android:name=".Build.Build_Activity" />
        <activity android:name=".Build.PC_Build_Parts" />
        <activity android:name=".Build.MyBuildActivity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SocialMedia.SocialMediaBlogs"/>
        <activity android:name=".Login.Login_SignUpActivity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Community.Community_Builds_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Education.Education_Choosing_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <!--PC Guides -->
        <activity android:name=".Guides.PC.PC_Building_Guide_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.PC.PC_Guide_Supplies_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.PC.PC_Guide_Installation_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.PC.PC_Guide_Setup_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>

        <!-- Arduino Guides -->
        <activity android:name=".Guides.Arduino.Arduino_Guides_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Arduino.Arduino_Guide_Supplies_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Arduino.Arduino_Guide_Installation_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Arduino.Arduino_Guide_Setup_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>

        <!-- Raspberry Pi Guides -->
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guides_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guide_Troubleshoot_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guide_Prep_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guide_Setup_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.Projects.RaspberryPi_Projects"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.Projects.HumiditySensor.RaspberryPi_Humidity_Sensor"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.Projects.HumiditySensor.RaspberryPi_Humidity_Sensor_Supplies"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>

        <!-- Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>