<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computerstarter">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:networkSecurityConfig="@xml/network_security"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="ComputerStarter"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComputerStarter">
        <activity
            android:name=".Education.PC_Part_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity
            android:name=".Education.Education_Tabbed"
            android:theme="@style/Theme.ComputerStarter.NoActionBar" />
        <activity
            android:name=".app.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Others.AccountActivity"/>
        <activity android:name=".Build.MainBuilds"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Others.AboutActivity" />
        <activity android:name=".Others.HelpActivity" />
        <activity android:name=".Build.Build_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Build.PC_Build_Parts"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Build.MyBuildActivity"
           android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SocialMedia.AddPost"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Login.Login_SignUpActivity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar" />
        <activity android:name=".Education.Education_Choosing_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Education.RaspberryPi_Education"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <!--PC Guides -->
        <activity android:name=".Guides.PC.PC_Building_Guide_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.PC.PC_Guide_Supplies_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.PC.PC_Guide_Installation_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.PC.PC_Guide_Setup_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>

        <!-- Arduino Guides -->
        <activity android:name=".Guides.Arduino.Arduino_Guides_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Arduino.Arduino_Guide_Supplies_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Arduino.Arduino_Guide_Installation_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Arduino.Arduino_Guide_Setup_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>

        <!-- Raspberry Pi Guides -->
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guides_Activity"/>
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guide_Troubleshoot_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guide_Prep_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.RaspberryPi.RaspberryPi_Guide_Setup_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.RaspiProj.RaspberryPi_Projects"/>
        <activity android:name=".SampleProjects.RaspiProj.HumiditySensor.RaspberryPi_Humidity_Sensor"/>
        <activity android:name=".SampleProjects.RaspiProj.HumiditySensor.RaspberryPi_Humidity_Sensor_Supplies"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.RaspiProj.HumiditySensor.RaspberryPi_Humidity_Sensor_Wiring"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.RaspiProj.HumiditySensor.RaspberryPi_Humidity_Sensor_Coding"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Education.WebPageEducation"/>
        <activity android:name=".app.HomeActivity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.Arduino.Projects.Arduino_Projects" />
        <activity android:name=".SampleProjects.Arduino.Projects.TemperatureSensor.Arduino_Temperature_Sensor" />
        <activity android:name=".SampleProjects.Arduino.Projects.TemperatureSensor.Arduino_Temperature_Sensor_Coding"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.Arduino.Projects.TemperatureSensor.Arduino_Temperature_Sensor_Supplies"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.Arduino.Projects.TemperatureSensor.Arduino_Temperature_Sensor_Wiring"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Guides.Guides_Activity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SampleProjects.SampleProjects"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".Build.PCBuildLayout"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>
        <activity android:name=".SocialMedia.CommentActivity"
            android:theme="@style/Theme.ComputerStarter.NoActionBar"/>

        <!-- Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>